general:
  check_interval: <interval between checks in seconds>
  log_level: <log level> OPTIONAL
  log_dir: <a dir to log to> OPTIONAL (Make sure the running user has access to write to this dir if you set one)

sites:
  your_monitor_site_alias: 'url_to_monitor'

  twilio:
    twilio_phone_number: +1<your_number_here>
    user_phone_number: +1<your_number_here>
    account_sid: <account_sid_here>
    auth_token: <auth_token_here>